<app-header></app-header>
  <section class="padding-y bg-light">
  <div class="container">
  <div class="row">
    <main class="col-xl-8 col-lg-8">
      <article class="card">
        <div class="content-body">
          <form [formGroup]="checkoutForm">
            <h5 class="card-title"> Checkout </h5>
            <div class="row">
              <div class="col-6 mb-3">
                <label class="form-label">First name</label>
                <input formControlName="firstName" type="text" class="form-control">
                <div *ngIf="checkoutForm.controls['firstName']?.errors && checkoutForm.controls['firstName'].dirty" class="text-danger">
                  <div *ngIf="checkoutForm.controls['firstName']?.errors?.required">First Name is required</div>
                </div>
              </div>

              <div class="col-6">
                <label class="form-label">Last name</label>
                <input formControlName="lastName" type="text" class="form-control">
              </div>

              <div class="col-6 mb-3">
                <label class="form-label">Phone</label>
                <input formControlName="phone" type="text" value="+998" class="form-control" placeholder="">
                <div *ngIf="checkoutForm.controls['phone']?.errors && checkoutForm.controls['phone'].dirty" class="text-danger">
                  <div *ngIf="checkoutForm.controls['phone']?.errors?.required">Phone number is required</div>
                  <div *ngIf="checkoutForm.controls['phone']?.errors?.pattern">Invalid phone number format</div>
                </div>
              </div>

              <div class="col-6 mb-3">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" class="form-control">
                <div *ngIf="checkoutForm.controls['email'].errors && checkoutForm.controls['email'].dirty" class="text-danger">
                  <div *ngIf="checkoutForm.controls['email'].errors.required">Email is required</div>
                  <div *ngIf="checkoutForm.controls['email'].errors.email">Invalid email format</div>
                </div>
              </div>
            </div>
          </form>
          <hr class="my-4">
          <form [formGroup]="shipInfoForm">
            <h5 class="card-title"> Shipping info </h5>
            <div class="row d-flex justify-content-between">
              <div class="w-100 col-sm-8 mb-3 d-flex justify-content-between">
                <div class="w-50" style="margin-right: 20px;">
                  <label for="" class="form-label">Payment Menthod</label>
                  <select [(ngModel)]="selectedPaymentMethodId" formControlName="paymentMenthod" class="form-control">
                    <option *ngFor="let paymentMenthod of paymentMenthods" [value]="paymentMenthod?.id">{{ paymentMenthod?.provider }}
                    </option>
                  </select>

                  <div *ngIf="shipInfoForm.controls['paymentMenthod']?.errors && shipInfoForm.controls['paymentMenthod'].dirty" class="text-danger">
                    <div *ngIf="shipInfoForm.controls['paymentMenthod']?.errors?.required">Payment Menthod is required</div>
                  </div>
                </div>

                <div class="w-50">
                  <label for="" class="form-label">Address</label>
                  <input formControlName="address" type="text" class="form-control">

                  <div *ngIf="shipInfoForm.controls['address']?.errors && shipInfoForm.controls['address'].dirty" class="text-danger">
                    <div *ngIf="shipInfoForm.controls['address']?.errors?.required">Address is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="float-end">
              <!-- <button class="btn btn-light">Cancel</button> -->
              <button (click)="checkout()" [disabled]="shipInfoForm.invalid || checkoutForm.Invalid" class="btn btn-success">Continue</button>
            </div>
          </form>
        </div>
      </article>

    </main>
    <aside class="col-xl-4 col-lg-4">
      <article class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px">
          <h6 class="card-title">Summary</h6>

          <dl class="dlist-align">
            <dt>Total price:</dt>
            <dd class="text-end">
              <span class="text-danger"> {{ getTotalPrice() | currency:'VND' }} </span>
            </dd>
          </dl>
          <dl class="dlist-align">
            <dt>Discount:</dt>
            <dd class="text-end text-danger"> - {{ discount | currency:'VND' }} </dd>
          </dl>
          <dl class="dlist-align">
            <dt>Shipping cost:</dt>
            <dd class="text-end"> + {{ shippingCost | currency:'VND' }} </dd>
          </dl>
          <hr>
          <dl class="dlist-align">
            <dt> Total: </dt>
            <dd class="text-end"> <strong class="text-dark">
              {{ getTotalPrice() +  shippingCost - discount | currency:'VND' }}
            </strong> </dd>
          </dl>

          <hr>
          <h6 class="mb-4">Items in cart</h6>

          <section *ngFor="let cartItem of cartItems" class="itemside mb-4">
            <div class="aside">
              <img src="{{ cartItem?.product?.imageName }}" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a (click)="deleteCartItem(cartItem)" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> {{ cartItem.product.title }} </p>
              <span class="text-muted">{{ cartItem?.quantity }} x {{ cartItem?.product?.price | currency:'VND' }} </span> <br>
              <a (click)="edit(cartItem)" class="btn btn-icon btn-light float-end"><i class="fa fa-edit"></i></a>
              <strong class="price"> {{ cartItem?.quantity * cartItem?.product?.price | currency:'VND' }} </strong>

              <div class="float-end">
                <div class="input-group">
                  <div *ngIf="cartItemEdit" class="input-group-append w-100 d-flex justify-content-end mt-4">
                    <input [(ngModel)]="quantityEdit" [min]="1" [max]="100" type="number" class="form-control w-100"/>
                    <button (click)="cancelEdit()" class="btn btn-secondary" style="margin-inline: 6px" type="button">Cancel</button>
                    <button (click)="saveEidt(cartItem?.product)" (click)="edit(cartItem)" class="btn btn-primary" type="button">Save</button>
                  </div>
                </div>
              </div>
            </figcaption>
          </section>
      </article>
    </aside>
  </div>
  <br><br>
  </div>
  </section>
  <app-footer></app-footer>
