<h2 mat-dialog-title>Edit category</h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <div class="form-outline mb-4">
      <input formControlName="category" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="Category" />

        <div *ngIf="editForm.controls['category']?.errors && editForm.controls['category'].dirty" class="text-danger">
          <div *ngIf="editForm.controls['category']?.errors?.required">Category is required</div>
        </div>
    </div>

    <div class="form-outline mb-4">
      <input formControlName="subCategory" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="subCategory" />

      <div *ngIf="editForm.controls['subCategory']?.errors && editForm.controls['subCategory'].dirty" class="text-danger">
        <div *ngIf="editForm.controls['subCategory']?.errors?.required">SubCategory is required</div>
      </div>
    </div>

  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="d-flex justify-content-end">
  <div class="text-center">
    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel </button>

    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="edit()"
      [disabled]="editForm.invalid"
      type="button"
      class="btn btn-primary m-lg-2"> Submit </button>
  </div>
</mat-dialog-actions>
