<section class="section-intro padding-top-sm">
  <div class="container">
  <main class="card p-3">
    <div class="row">
      <aside class="col-lg-3">
        <nav *ngFor="let item of data"class="nav flex-column nav-pills">
          <a class="nav-link" aria-current="page" (click)="onClickCategory(item)">{{ item.category?.toString() | titlecase }}</a>
        </nav>
      </aside>
      <div class="col-lg-9">
        <article class="card-banner p-5 bg-primary" style="height: 360px">
          <div style="max-width: 500px">
              <h2 class="text-white">Great products with <br> best deals </h2>
              <p class="text-white">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
              <a href="#" class="btn btn-warning"> View more </a>
              </div>
        </article>
      </div>
    </div>
  </main>
  </div> <!-- container end.// -->
</section>
