<h2 mat-dialog-title>Add new Category</h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="addNewForm">
    <!-- Last name input -->
    <div class="form-outline mb-4">
      <input formControlName="category" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="Category" />

      <div *ngIf="addNewForm.controls['category']?.errors && addNewForm.controls['category'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['category']?.errors?.required">Category is required</div>
      </div>
    </div>

    <!-- subCategory input -->
    <div class="form-outline mb-4">
      <input formControlName="subCategory" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="subCategory" />

      <div *ngIf="addNewForm.controls['subCategory'].errors && addNewForm.controls['subCategory'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['subCategory'].errors.required">SubCategory is required</div>
        <div *ngIf="addNewForm.controls['subCategory'].errors.subCategory">Invalid SubCategory format</div>
      </div>
    </div>

  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="d-flex justify-content-end">
  <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->
  <div class="text-center">
    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel </button>

    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="add()"
      [disabled]="addNewForm.invalid"
      type="button"
      class="btn btn-primary m-lg-2"> Submit </button>
  </div>
</mat-dialog-actions>
