<section class="padding-top">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title font-weight-bold"> {{ category?.category | titlecase }} </h3>
    </header>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap" >
            <span class="topbar"> <b class="badge bg-success"> Offer </b> </span>
            <img src="assets/images/items/12.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Blue T-shirt for Men</a>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price-wrap">
              <span class="price">$15.90</span> <del class="price-old">$20</del>
            </div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/11.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Warm Winter Jacket</a>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price">$72.90</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/10.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Mens T-shirt Cotton Base</a>
            <small class="text-muted">Blue, White, Black</small>
            <div class="price">$29.98</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/9.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Men's Denim Shorts Jeans</a>
            <small class="text-muted">Blue, White, Black</small>
            <div class="price">$75.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/5.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Apple Watch Series 1 Sport Case 38mm Black</a>
            <small class="text-muted">5GB, 10GB, 24GB</small>
            <div class="price">$75.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/6.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Gaming Headset 32db Blackbuilt in mic</a>
            <small class="text-muted">Black, Blue, Green</small>
            <div class="price">$99.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/7.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Gaming Headset 32db Blackbuilt in mic</a>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price">$41.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a routerLink="/single" class="img-wrap">
            <img src="assets/images/items/8.webp">
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Slim fit T-shirt for men</a>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price">$75.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
    </div> <!-- row end.// -->
  </div> <!-- container end.// -->
  </section>
