<form action="" class="form-inline" method="post" role="form">
  <div class="form-group">
    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="Input field">
  </div>
<br>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

<hr>

<div class="mat-elevation-z8" id="father">
  <table class="table ">
    <thead class="head">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>mobile</th>
        <th>role</th>
        <th></th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let item of dataUser; let i = index">
          <td scope="row">{{i + 1}}</td>
          <td>{{item?.firstName}} {{item?.lastName}}</td>
          <td>{{item?.email}}</td>
          <td>{{item?.address}}</td>
          <td>{{item?.mobile}}</td>
          <td>{{item?.role}}</td>
          <td>
            <button class="btn btn-primary mr-1" routerLink="edit/{{item.id}}" >Update</button>
            <button class="btn btn-danger mr-1" [disabled]="item.role === 'admin'" (click)="deleteUser(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

