<app-header></app-header>
<app-category (clickCategoryEvent)="onCategoryChange($event)"></app-category>

<div>
  <section class="padding-top">
    <div class="container">
      <header class="section-heading">
        <h3 class="section-title">New products</h3>
      </header>
      <div class="row">
        <div *ngFor="let product of products" class="col-lg-3 col-md-6 col-sm-6">
          <figure class="card card-product-grid">
            <a (click)="navigateDetails(product)" class="img-wrap" >
              <span class="topbar"> <b class="badge bg-success"> Offer </b> </span>
              <img src="{{ product.imageName }}">
            </a>
            <figcaption class="info-wrap border-top">
              <a class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
              <a class="title text-truncate"> {{ product.title }} </a>
              <!-- <small class="text-muted">Sizes: S, M, XL</small> -->
              <div class="price-wrap">
                <span class="price"> {{ product.price | currency:'VND' }} </span> <del class="price-old">đ120.000</del>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    </section>
</div>
<app-footer></app-footer>
